.wrapper {
  padding: 10px;
  background-color: var(--ion-color-medium);
  border-radius: var(--border-radius-big);
}

.header {
  margin-top: 0;
  margin-bottom: 5px;
}

hr {
  background-color: var(--ion-color-dark);
  height: 1px;
  margin: 10px 0;
}

.profile-row {
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ion-avatar {
    --border-radius: var(--border-radius-big);
    height: 50px;
    width: 50px;
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fullname {
      margin: 0;
    }

    .username {
      margin: 0;
      font-size: 0.9rem;
      color: gray;
    }
  }
}

.interaction-row {
  // display: flex;
  // justify-content: space-evenly;

  button {
    display: flex;

    p {
      padding-left: 8px;
      margin: 0;
    }
  }
}

.owner {
  background-color: var(--ion-color-dark);
  border-radius: 10px;
  margin: 5px;
  padding: 0;

  a {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}

.like {
  background-color: var(--ion-color-dark);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: 50px;
  display: flex;
  align-items: center;
}

.editPost {
  background-color: var(--ion-color-dark);
  border-radius: 10px;
  margin: 5px;
  padding: 0;
  width: 50px;

  a {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}

.like:hover,
.owner:hover,
.editPost:hover {
  cursor: pointer;
  background-color: var(--ion-color-dark-shade);
}
