<div class="wrapper">
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 0;">
        <a [routerLink]="'/ideas/' + post.id">
          <h2 class="header">{{post.title}}</h2>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 0;">
        <div class="postcontent" [innerHTML]=post.body></div>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row class="profile-row">
      <ion-col style="padding-left: 0;">
        <app-user-badge [user]="post.user" [creationDate]="post.creationDate"></app-user-badge>
      </ion-col>

      <ion-col size="auto" style="padding-right: 0;" *ngIf="post.mine">
        <button type="button" class="btn-small btn-dark" (click)="openEditor(post.id)">
          <ion-icon name="settings-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="interaction-row">

      <ion-col size="auto" style="padding-left: 0">
        <button *ngIf="post.currentUserVoteValue === 1" type="button" class="btn-small btn-dark" (click)="votePost(0, post)">
          <ion-icon name="heart" [ngStyle]="{'color':post.user.color}"></ion-icon>
          <p>{{post.numberOfUpvotes}}</p>
        </button>

        <button *ngIf="post.currentUserVoteValue !== 1" type="button" class="btn-small btn-dark" (click)="votePost(1, post)">
          <ion-icon name="heart-outline"></ion-icon>
          <p>{{post.numberOfUpvotes}}</p>
        </button>
      </ion-col>

      <ion-col size="auto">
        <button *ngIf="post.currentUserVoteValue === -1" type="button" class="btn-small btn-dark" (click)="votePost(0, post)">
          <ion-icon name="thumbs-down" [ngStyle]="{'color':post.user.color}"></ion-icon>
          <p>{{post.numberOfDownvotes}}</p>
        </button>

        <button *ngIf="post.currentUserVoteValue !== -1" type="button" class="btn-small btn-dark" (click)="votePost(-1, post)">
          <ion-icon name="thumbs-down-outline"></ion-icon>
          <p>{{post.numberOfDownvotes}}</p>
        </button>
      </ion-col>

      <ion-col size="auto">
        <button type="button" class="btn-small btn-dark" (click)="gotoIdea(post.id)">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p>{{post.numberOfComments}}</p>
        </button>
      </ion-col>

      <ion-col size="auto">
        <button *ngIf="post.saved" type="button" class="btn-small btn-dark" (click)="unsavePost(post.id)">
          <ion-icon name="bookmark" [ngStyle]="{'color':post.user.color}"></ion-icon>
        </button>

        <button *ngIf="!post.saved" type="button" class="btn-small btn-dark" (click)="savePost(post.id)">
          <ion-icon name="bookmark-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
