<ion-row *ngIf="user">
  <ion-col *ngIf="user.github || user.twitter || user.instagram || user.dribbble || user.linkedin || user.website"
    size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
    <h2>Social Media</h2>
    <ul>
      <li *ngIf="user.github">
        <a [href]="'https://github.com/' + user.github" target="_blank" rel="noreferrer noopener">
          <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
            name="logo-github"></ion-icon>
          <span style="vertical-align:middle"><strong> Github</strong></span>
        </a>
      </li>
      <li *ngIf="user.twitter">
        <a [href]="'https://twitter.com/' + user.twitter" target="_blank" rel="noreferrer noopener">
          <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
            name="logo-twitter"></ion-icon>
          <span style="vertical-align:middle"><strong> Twitter</strong></span>
        </a>
      </li>
      <li *ngIf="user.instagram">
        <a [href]="'https://instagram.com/' + user.instagram" target="_blank" rel="noreferrer noopener">
          <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
            name="logo-instagram"></ion-icon>
          <span style="vertical-align:middle"><strong> Instagram</strong></span>
        </a>
      </li>
      <li *ngIf="user.dribbble">
        <a [href]="'https://dribbble.com/' + user.dribbble" target="_blank" rel="noreferrer noopener">
          <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
            name="logo-dribbble"></ion-icon>
          <span style="vertical-align:middle"><strong> Dribbble</strong></span>
        </a>
      </li>
      <li *ngIf="user.linkedin">
        <a [href]="'https://www.linkedin.com/in/' + user.linkedin" target="_blank" rel="noreferrer noopener">
          <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
            name="logo-linkedin"></ion-icon>
          <span style="vertical-align:middle"><strong> Linkedin</strong></span>
        </a>
      </li>
      <li *ngIf="user.website" (click)="gotoWebsite('http://' + user.website)">
        <ion-icon class="socialmedia-icon" style="height: 20px; width: 20px; vertical-align: middle;"
          name="globe-outline"></ion-icon>
        <span style="vertical-align:middle"><strong> {{user.website}}</strong></span>
      </li>
    </ul>

  </ion-col>
  <ion-col *ngIf="user.bio">
    <h2>About</h2>
    <p>{{user.bio}}</p>

    <div style="margin-top: 30px;" *ngIf="user.country">
      <ion-icon name="location"></ion-icon><span *ngIf="user.state"> {{user.state}},
      </span>{{user.country}}
    </div>

    <div *ngIf="user.creationDate">
      <ion-icon name="calendar"></ion-icon>
      <span> Joined at {{user.creationDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day:
        'numeric' })}}</span>
    </div>
  </ion-col>
</ion-row>

<div *ngIf="user">
  <ion-row
    *ngIf="user.github || user.twitter || user.instagram || user.dribbble || user.linkedin || user.website || user.bio">
    <ion-col style="margin-bottom: 20px; margin-top: 30px">
      <hr
        style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin-top: 20px; margin-right: 10px;">
    </ion-col>
  </ion-row>
</div>
