<div class="footer">
  <ion-grid class="container">
    <ion-row style="justify-content: space-between;">
      <ion-col size="auto">
        <p><strong>Developed by:</strong></p>
        <a href="http://ideaoverflow.xyz/users/daniebeler">@daniebeler</a>
      </ion-col>
      <ion-col size="auto">
        <p><strong>General</strong></p>
        <a href="http://ideaoverflow.xyz/about">About</a>
        <a href="http://ideaoverflow.xyz/privacy">Privacy policy</a>
      </ion-col>
      <ion-col size="auto">
        <p><strong>Stats</strong></p>
        <a href="http://ideaoverflow.xyz">Total Posts:<strong>&nbsp;{{numberOfTotalPosts}}</strong></a>
        <a href="http://ideaoverflow.xyz/users">Total Users:<strong>&nbsp;{{numberOfTotalUsers}}</strong></a>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
