.wrapper {
  border-top: 1px solid var(--ion-color-medium);
  padding: 20px 0;
}

a {
  display: flex;
  margin-bottom: 5px;
}

.social-div {
  display: flex;

  a {
    margin-right: 5px;

    .mastodon {
      color: #595AFF;
    }

    .website {
      color: #ECB847;
    }

    .github {
      color: #F0F6FC;
    }
  }
}
