<div class="footer">
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <p><strong>Developer</strong></p>
        <a href="http://ideaoverflow.xyz/profile/daniebeler">Daniel Hiebeler</a>
      </ion-col>
      <ion-col size="auto">
        <p><strong>Stats</strong></p>
        <p style="margin-bottom: 0;">Total Posts: <strong>{{numberOfTotalPosts}}</strong></p>
        <p style="margin-top: 0;">Total Users: <strong>{{numberOfTotalUsers}}</strong></p>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
