<div *ngIf="followers.length > 0 || loading; else noFollowers">
  <ion-grid style="margin-bottom: 100px;">
    <ion-row class="header-wrapper">
      <ion-col>
        <h2>{{followers.length}} {{header}}</h2>
      </ion-col>
      <ion-col size="auto">
        <button type="button" class="btn-small" [ngClass]="gridMode === 'list' ? 'btn-active' : 'btn-inactive'"
          [ngStyle]="{'background-color': gridMode === 'list' ? color : 'var(--ion-color-medium)'}"
          (click)="changeGridMode('list')">
          <ion-icon name="list-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="auto">
        <button type="button" class="btn-small" [ngClass]="gridMode === 'grid' ? 'btn-active' : 'btn-inactive'"
          [ngStyle]="{'background-color': gridMode === 'grid' ? color : 'var(--ion-color-medium)'}"
          (click)="changeGridMode('grid')">
          <ion-icon name="grid-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="gridMode === 'list'">
      <ion-col size="12" *ngFor="let follower of followers">
        <a [routerLink]="'/users/' + follower.username">
          <ion-grid class="list-wrapper">
            <ion-row>
              <ion-col size="auto" style="padding-left: 0">
                <ion-avatar style="height: 60px; width: 60px; --border-radius: var(--border-radius-small)">
                  <img [src]="follower.profileimage">
                </ion-avatar>
              </ion-col>
              <ion-col style="display: flex;" class="ion-align-items-center">
                <div>
                  <p style="margin-bottom: 0;">{{follower.firstname}} {{follower.lastname}}</p>
                  <p style="margin-bottom: 0;">@{{follower.username}}</p>
                </div>
              </ion-col>

              <ion-col size="auto" style="padding-right: 0">
                <button type="button" class="btn-small btn-primary" [ngStyle]="{'background-color': color}"
                  *ngIf="!follower.following">
                  FOLLOW
                </button>
                <button type="button" class="btn-small btn-disabled" *ngIf="follower.following">
                  FOLLOWING
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </a>

        <hr>

      </ion-col>
    </ion-row>


    <ion-row *ngIf="gridMode === 'grid'">
      <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4" *ngFor="let follower of followers">
        <a [routerLink]="'/users/' + follower.username">
          <ion-grid class="grid-wrapper">
            <ion-row>
              <ion-col>
                <ion-avatar style="height: 60px; width: 60px; --border-radius: var(--border-radius-small)">
                  <img [src]="follower.profileimage">
                </ion-avatar>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="display: flex;" class="ion-align-items-center">
                <div>
                  <p class="fullname bold">{{follower.firstname}} {{follower.lastname}}</p>
                  <p class="username">@{{follower.username}}</p>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="stats-row">
              <ion-col size="auto">
                <p class="value bold">{{follower.numberOfPosts}}</p>
                <p class="desc">Ideas</p>
              </ion-col>
              <ion-col size="auto">
                <p class="value bold">{{follower.numberOfFollowers}}</p>
                <p class="desc">Followers</p>
              </ion-col>
              <ion-col size="auto">
                <p class="value bold">{{follower.numberOfLikes}}</p>
                <p class="desc">Likes</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <button type="button" class="btn-small btn-primary" *ngIf="!follower.following">
                  Follow
                </button>
                <button type="button" class="btn-small btn-dark" *ngIf="follower.following">
                  FOLLOWING
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </a>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #noFollowers>
  <ion-grid class="nofollowers-grid" [ngStyle]="{'background-color': color}">
    <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10" size-sm="10"
        size-md="6" size-lg="5" size-xl="5">
        <img ngSrc="./../../../assets/svgs/frankenstein.svg" style="height: 400px; padding-top: 10px;" alt=""
          height="400" width="200">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2 style="margin-top: 0;">{{textIfNoFollowers}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ng-template>
