.header-wrapper {
  ion-col {
    display: flex;
    align-items: center;

    h2 {
      margin: 0;
    }

    .btn-active {
      background-color: var(--ion-color-primary);

    }

    .btn-inactive {
      background-color: var(--ion-color-medium);
    }
  }
}

.grid-wrapper {
  background-color: var(--ion-color-medium);
  border-radius: var(--border-radius-big);
  padding: 10px;

  ion-col {
    display: flex;
    justify-content: center;

    .fullname {
      margin: 0;
      text-align: center;
    }

    .username {
      margin: 0;
      text-align: center;
      font-size: 0.9rem;
    }
  }

  .stats-row {
    display: flex;
    justify-content: space-evenly;

    ion-col {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
        text-align: center;
      }

      .value {}

      .desc {
        font-size: 0.8rem;
      }
    }
  }
}

hr {
  background-color: var(--ion-color-medium);
  height: 1px;
  margin: 10px;
}

.grid-wrapper:hover {
  cursor: pointer;
  background-color: var(--ion-color-medium-shade);
}

.nofollowers-grid {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-dark);
  border-radius: var(--border-radius-big);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 30px;
}
