<ion-content>
  <ion-grid *ngIf="project && verifiedAccess" class="container" style="margin-top: 30px; margin-bottom: 100px;">
    <ion-row>
      <ion-col>
        <h1 *ngIf="mode === 'new'">New Project</h1>
        <h1 *ngIf="mode === 'edit' && project.title">{{project.title}}</h1>
        <h1 *ngIf="mode === 'edit' && !project.title">Edit project</h1>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 50px;">
      <ion-col style="display: flex;" class="ion-justify-content-center">
        <div class="profile-pic-div">
          <img [src]="project.logo" id="photo">
          <input type="file" id="file" accept=".png,.jpg," (change)="onFileChange($event)">
          <label for="file" id="uploadBtn">Change</label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="form-group">
          <label class="text-label" for="fname">Title</label>
          <input type="text" name="fname" id="fname" placeholder="Title" [(ngModel)]="project.title"
            (ngModelChange)="updateSubmitButtonState()" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-bottom: 20px;">
      <ion-col style="padding-bottom: 0;">
        <div class="form-group">
          <label class="text-label" for="fname">Short description</label>
          <textarea style="resize: none;" rows="5" type="text" name="fname" id="fname"
            placeholder="My project in a few words" [(ngModel)]="project.shortDescription"
            (ngModelChange)="updateSubmitButtonState()"></textarea>
        </div>
      </ion-col>
    </ion-row>

    <label class="text-label" for="fname">Long description</label>
    <quill-editor *ngIf="project.body" [(ngModel)]="project.body.changingThisBreaksApplicationSecurity"
      (onEditorCreated)="editor($event)" trackChanges="all" (ngModelChange)="updateSubmitButtonState()">
    </quill-editor>


    <ion-row style="padding-top: 20px;">
      <ion-col size="12">
        <div class="form-group">
          <label class="text-label" for="fname">Website</label>
          <input type="text" name="fname" id="fname" placeholder="URL" [(ngModel)]="project.website"
            (ngModelChange)="updateSubmitButtonState()" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 20px; margin-bottom: 50px;">
      <ion-col size="12">
        <div class="form-group">
          <label class="text-label" for="fname">Release Date</label>
          <input type="date" name="fname" id="fname" placeholder="URL" (change)="releaseDateChanged($event)"
            (ngModelChange)="updateSubmitButtonState()" [(ngModel)]="releaseDate" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 50px;">
      <ion-col style="display: flex;" class="ion-justify-content-center">

        <ion-grid>
          <ion-row>
            <ion-col>
              <input type="file" id="input-screenshot" accept=".png,.jpg," (change)="onScreenshotChange($event)">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" *ngFor="let screenshot of project.screenshots">
              <img [src]="screenshot" style="width: 100%;" id="photo">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="!verifiedAccess" class="container">
    <ion-row style="padding: 40px 0 20px 0;">
      <ion-col>
        <h1>Access denied</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="container">
    <ion-row>
      <ion-col style="display: flex; flex-direction: column; justify-content: center;">
        <button style="margin-top: 20px;" type="button" class="btn-small btn-primary" (click)="saveProject()"
          *ngIf="showSubmitButton; else elseBlock">
          <span *ngIf="mode === 'new'">Release project</span>
          <span *ngIf="mode === 'edit'">Update project</span>
        </button>

        <ng-template #elseBlock>
          <button style="margin-top: 20px;" type="button" class="btn-small btn-disabled" disabled>
            <span *ngIf="mode === 'new'">Release project</span>
            <span *ngIf="mode === 'edit'">Update project</span>
          </button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
