:host {
  --super-tabs-toolbar-background: var(--ion-background-color);
  --st-indicator-color: var(--ion-color-primary);
  --st-label-color-active: var(--ion-color-secondary);
  --st-label-color-inactive: var(--ion-color-secondary);
}
