.ql-container{
  height: 500px !important;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px var(--ion-background-color) inset;
  -webkit-text-fill-color: black;
}

.text-label{
  font-size: 0.8em;
}

ion-avatar:hover{
  cursor: pointer;
}

input{
  background-color: var(--ion-background-color);
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  box-sizing: border-box;
  font-size: 0.8em;
  width: 100%;
}

.icon-input{
  padding: 6px 30px;
}

select{
  background-color: var(--ion-background-color);
  border: none;
  border-bottom: 1px solid #999;
  font-size: 0.8em;
  width: 100%;
}

.form-group{
  position: relative;
  margin-bottom: 25px;
}

*:focus {
  outline: none;
}
