<ion-grid class="container">
  <ion-row>
    <ion-col>
      <div class="form-group">
        <label class="text-label" for="fname"><strong>Header</strong></label>
        <input type="text" placeholder="The best Idea ever" [(ngModel)]="title" />
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <quill-editor [(ngModel)]="body" [modules]="" (onEditorCreated)="editor($event)" trackChanges="all">
      </quill-editor>
      <button style="margin-top: 20px;" type="button" class="btn-small btn-primary" (click)="savePost()"
        *ngIf="title && body; else elseBlock">
        <span *ngIf="!postId">Release post</span><span *ngIf="postId">Update post</span>
      </button>

      <ng-template #elseBlock>
        <button style="margin-top: 20px;" type="button" class="btn-small btn-disabled" disabled>
          <span *ngIf="!postId">Release post</span><span *ngIf="postId">Update post</span>
        </button>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>
