<ion-header>
  <ion-toolbar>
    <ion-grid class="container">
      <ion-row>
        <ion-col style="display: flex; align-items: center;">
          <h1 (click)="gotoHome()" class="ideaoverflow-logo" style="margin: 0;">
            Idea Overflow
          </h1>
        </ion-col>
          <ion-col *ngIf="user" size="auto">

            <button type="button" class="btn-medium btn-orange" style="margin-top: 10px; margin-bottom: 10px;"
              (click)="updateUser()"
              *ngIf="user.firstname !== firstname || user.lastname !== lastname || user.instagram !== instagram || user.twitter !== twitter || user.github !== github || user.website !== website; else elseBlock">Save changes</button>

              <ng-template #elseBlock>
                <button type="button" class="btn-medium btn-disabled" style="margin-top: 10px; margin-bottom: 10px;" disabled>Save changes</button>
              </ng-template>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="container" style="margin-top: 30px;">
    <ion-row>
      <ion-col>
        <h1 style="padding-bottom: 20px;">General</h1>

        <div class="form-group">
          <label class="text-label" for="fname"><strong>First Name</strong></label>
          <input type="text" name="fname" id="fname" placeholder="First Name" [(ngModel)]="firstname"/>
        </div>

        <div class="form-group">
          <label class="text-label" for="email"><strong>Last Name</strong></label>
          <input type="text" name="lname" id="lname" placeholder="Last Name" [(ngModel)]="lastname"/>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Social Information</h1>

        <div class="form-group">
          <label class="text-label" for="fname"><strong>Instagram Username</strong></label>
          <label class="icon-label-both" for="password"><i><ion-icon name="logo-instagram"></ion-icon></i></label>
          <input class="icon-input" type="text" name="fname" id="fname" placeholder="..." [(ngModel)]="instagram"/>
        </div>

        <div class="form-group">
          <label class="text-label" for="fname"><strong>Twitter Username</strong></label>
          <label class="icon-label-both" for="password"><i><ion-icon name="logo-twitter"></ion-icon></i></label>
          <input class="icon-input" type="text" name="fname" id="fname" placeholder="..." [(ngModel)]="twitter"/>
        </div>

        <div class="form-group">
          <label class="text-label" for="fname"><strong>Github Username</strong></label>
          <label class="icon-label-both" for="password"><i><ion-icon name="logo-github"></ion-icon></i></label>
          <input class="icon-input" type="text" name="fname" id="fname" placeholder="..." [(ngModel)]="github"/>
        </div>

        <div class="form-group">
          <label class="text-label" for="fname"><strong>Website URL</strong></label>
          <label class="icon-label-both" for="password"><i><ion-icon name="globe-outline"></ion-icon></i></label>
          <input class="icon-input" type="text" name="fname" id="fname" placeholder="https://example.com" [(ngModel)]="website"/>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 style="padding-bottom: 20px;">Change Password</h1>

        <div class="form-group">
          <label class="icon-label" for="password"><i><ion-icon name="lock-open"></ion-icon></i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="Current Password" [(ngModel)]="oldpassword"/>
        </div>

        <div class="form-group">
          <label class="icon-label" for="password"><i><ion-icon name="lock-closed"></ion-icon></i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="New Password" [(ngModel)]="newpassword1"/>
        </div>

        <div class="form-group">
          <label class="icon-label" for="password"><i><ion-icon name="lock-closed"></ion-icon></i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="New Password" [(ngModel)]="newpassword2"/>
        </div>

        <div class="row d-flex justify-content-center submit-button-container">
          <button type="button" class="btn-large btn-orange" style="margin-top: 10px;" (click)="changePassword()">Change Password</button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
