.icon-label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

i {
  display: flex;
  justify-content: center;
}

.text-label {
  position: relative;
  font-size: 0.8em;
}

input,
textarea,
select {
  background-color: var(--ion-color-medium);
  width: 100%;
  display: block;
  border: none;
  border-radius: var(--border-radius-small);
  padding: 15px;
  box-sizing: border-box;
  font-size: 0.8em;
  margin-top: 7px;
}

.icon-input {
  padding-left: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.txt-gotologin {
  font-size: 0.9em;

  strong {
    text-decoration: underline;
  }

  strong:hover {
    cursor: pointer;
  }
}

.profile-pic-div {
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  border-color: var(--ion-color-primary);
  border-width: 2px;
  border-style: solid;
  padding: 5px;

  img {
    border-radius: 50%;
  }
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 200px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: var(--ion-color-light);
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: block;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  cursor: pointer;
}
