<app-header></app-header>

<ion-content>
  <ion-grid class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <ion-row>
      <ion-col>
        <h1 style="padding-bottom: 20px;">General</h1>
      </ion-col>
      <ion-col size="auto">
        <button type="button" class="btn-medium btn-orange" (click)="updateUser()"
          *ngIf="unsavedDataExists; else elseBlock">Save changes</button>

        <ng-template #elseBlock>
          <button type="button" class="btn-medium btn-disabled" disabled>Save changes</button>
        </ng-template>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 50px;" *ngIf="user">
      <ion-col style="display: flex;" class="ion-justify-content-center">
        <div class="profile-pic-div">
          <img [src]="profilePicture" id="photo">
          <input type="file" id="file" accept=".png,.jpg," (change)="onFileChange($event)">
          <label for="file" id="uploadBtn">Change</label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="form-group">
          <label class="text-label" for="fname"><strong>First Name</strong></label>
          <input type="text" name="fname" id="fname" placeholder="First Name" [(ngModel)]="firstname"
            (ngModelChange)="checkForChange()" />
        </div>
      </ion-col>
      <ion-col>
        <div class="form-group">
          <label class="text-label" for="email"><strong>Last Name</strong></label>
          <input type="text" name="lname" id="lname" placeholder="Last Name" [(ngModel)]="lastname"
            (ngModelChange)="checkForChange()" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="form-group">
          <label class="text-label" for="email"><strong>Account Type</strong></label>
          <select [(ngModel)]="isPrivate" (ngModelChange)="checkForChange()">
            <option [ngValue]="true">Private</option>
            <option [ngValue]="false">Public</option>
          </select>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group" *ngIf="countries">
          <label class="text-label"><strong>Country</strong></label>
          <select [(ngModel)]="country" (ngModelChange)="checkForChange()">
            <option value="">--Leave empty--</option>
            <option *ngFor="let country of countries.countries" [ngValue]="country">{{country.country}}</option>
          </select>
        </div>
      </ion-col>
      <ion-col>
        <div class="form-group" *ngIf="country">
          <label class="text-label"><strong>State</strong></label>
          <select [(ngModel)]="state" (ngModelChange)="checkForChange()">
            <option value="">--Leave empty--</option>
            <option *ngFor="let state of country.states" [ngValue]="state">{{state}}</option>
          </select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Social Information</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid style="padding: 0;">
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="Instagram username"
                  [(ngModel)]="instagram" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="Twitter username"
                  [(ngModel)]="twitter" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="Dribbble username"
                  [(ngModel)]="dribbble" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="logo-github"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="Github username"
                  [(ngModel)]="github" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="LinkedIn username"
                  [(ngModel)]="linkedin" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0;">
              <div class="form-group">
                <label class="icon-label" for="password"><i>
                    <ion-icon name="globe-outline"></ion-icon>
                  </i></label>
                <input class="icon-input" type="text" name="fname" id="fname" placeholder="https://example.com"
                  [(ngModel)]="website" (ngModelChange)="checkForChange()" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col class="ion-justify-content-center" style="display: flex;">
        <img src="./../../../assets/socialmediagirl.svg" style="width: 100%; padding-bottom: 10px;" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 style="padding-bottom: 20px;">Change Password</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="form-group">
          <label class="icon-label" for="password"><i>
              <ion-icon name="lock-open"></ion-icon>
            </i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="Current Password"
            [(ngModel)]="oldPassword" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <label class="icon-label" for="password"><i>
              <ion-icon name="lock-closed"></ion-icon>
            </i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="New Password"
            [(ngModel)]="newPassword1" />
        </div>
      </ion-col>
      <ion-col>
        <div class="form-group">
          <label class="icon-label" for="password"><i>
              <ion-icon name="lock-closed"></ion-icon>
            </i></label>
          <input class="icon-input" type="password" name="passwort" id="password" placeholder="New Password"
            [(ngModel)]="newPassword2" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="row d-flex justify-content-center submit-button-container">
          <button type="button" class="btn-large btn-orange" style="margin-top: 10px;" (click)="changePassword()">Change
            Password</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
