<ion-header class="ion-no-border">
  <ion-grid *ngIf="user" class="container">
    <ion-row *ngIf="isMyProfile">
      <ion-col>
        <h2>My profile</h2>
        <div class="tooltip">
          <img *ngIf="flagUrl" [src]="flagUrl" class="flag" alt="">
          <span class="tooltiptext">{{countryName}}</span>
        </div>
      </ion-col>

      <ion-col size="auto">
        <a routerLink="/settings">
          <button type="button" class="btn-small btn-medium">
            <ion-icon name="settings-outline"></ion-icon>
          </button>
        </a>
      </ion-col>
      <ion-col size="auto">
        <button type="button" class="btn-small btn-primary" (click)="logout()">
          <ion-icon name="log-out-outline" color="dark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isMyProfile">
      <ion-col>
        <h2>@{{user.username}}</h2>
        <div class="tooltip">
          <img *ngIf="flagUrl" [src]="flagUrl" class="flag" alt="">
          <span class="tooltiptext">{{countryName}}</span>
        </div>
      </ion-col>
      <ion-col size="auto" *ngIf="amFollowingThisProfile">
        <button type="button" class="btn-small btn-medium follow-btn" style="width: 100%;"
          (click)="unfollow()">Unfollow</button>
      </ion-col>
      <ion-col size="auto" *ngIf="!amFollowingThisProfile">
        <button type="button" class="btn-small follow-btn" [ngStyle]="{'background-color':user.color}"
          style="width: 100%;" (click)="follow()">Follow</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid *ngIf="user" class="container" style="margin-top: 30px;">
    <div *ngIf="!user.email">
      <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
        <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10" size-sm="10"
          size-md="6" size-lg="4" size-xl="4">
          <img ngSrc="./../../../assets/noprofile.svg" style="width: 100%; padding-bottom: 10px;" alt="" height="200"
            width="200">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2>This user does not exist.</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" style="margin-bottom: 200px;">
          <a type="button" class="btn-small btn-primary" routerLink="/">Go Home</a>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="user.email">
      <ion-row class="top-section" [ngStyle]="{'background-color':user.color}">
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-avatar class="profile-image" [ngStyle]="{'border-color': user.color}">
                  <img [src]="user.profileimage">
                </ion-avatar>
              </ion-col>

              <ion-col>
                <h2 style="margin-bottom: 0;" *ngIf="user.firstname && user.lastname">
                  {{user.firstname}}
                  {{user.lastname}}</h2>

                <p style="margin-top: 0;" *ngIf="user.username">@{{user.username}}</p>

                <div>
                  <ul>
                    <li *ngIf="user.github">
                      <a [href]="'https://github.com/' + user.github" target="_blank" rel="noreferrer noopener">
                        <ion-icon class="socialmedia-icon" name="logo-github"></ion-icon>
                      </a>
                    </li>
                    <li *ngIf="user.twitter">
                      <a [href]="'https://twitter.com/' + user.twitter" target="_blank" rel="noreferrer noopener">
                        <ion-icon class="socialmedia-icon" name="logo-twitter"></ion-icon>
                      </a>
                    </li>
                    <li *ngIf="user.instagram">
                      <a [href]="'https://instagram.com/' + user.instagram" target="_blank" rel="noreferrer noopener">
                        <ion-icon class="socialmedia-icon" name="logo-instagram"></ion-icon>
                      </a>
                    </li>
                    <li *ngIf="user.dribbble">
                      <a [href]="'https://dribbble.com/' + user.dribbble" target="_blank" rel="noreferrer noopener">
                        <ion-icon class="socialmedia-icon" name="logo-dribbble"></ion-icon>
                      </a>
                    </li>
                    <li *ngIf="user.linkedin">
                      <a [href]="'https://www.linkedin.com/in/' + user.linkedin" target="_blank"
                        rel="noreferrer noopener">
                        <ion-icon class="socialmedia-icon" name="logo-linkedin"></ion-icon>
                      </a>
                    </li>
                    <li *ngIf="user.website" (click)="gotoWebsite('http://' + user.website)">
                      <ion-icon class="socialmedia-icon" name="globe-outline"></ion-icon>
                      <!-- <span style="vertical-align:middle"> {{user.website}}</span> -->
                    </li>
                  </ul>
                </div>


              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p style="margin-top: 0;" *ngIf="user.bio">{{user.bio}}</p>
              </ion-col>
            </ion-row>

            <ion-row class="fief">
              <ion-col size="auto">
                <p>Followers</p>
                <h2>{{user.numberOfFollowers}}</h2>
              </ion-col>
              <ion-col size="auto">
                <p>Ideas</p>
                <h2>{{user.numberOfPosts}}</h2>
              </ion-col>
              <ion-col size="auto">
                <p>Projects</p>
                <h2>{{user.numberOfProjects}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-col>
      </ion-row>


      <ion-row style="margin-top: 50px;">
        <ion-col size="auto" style="padding: 0;">
          <div id="myBtnContainer">
            <button [ngClass]="{'active': selectedTab === 'ideas'}"
              [ngStyle]="{'background-color': selectedTab === 'ideas' ? user.color : ''}"
              (click)="selectedTab = 'ideas'" class="array-btn">Ideas</button>
            <button [ngClass]="{'active': selectedTab === 'projects'}"
              [ngStyle]="{'background-color': selectedTab === 'projects' ? user.color : ''}"
              (click)="selectedTab = 'projects'" class="array-btn">Projects</button>
            <button [ngClass]="{'active': selectedTab === 'followers'}"
              [ngStyle]="{'background-color': selectedTab === 'followers' ? user.color : ''}"
              (click)="selectedTab = 'followers'" class="array-btn">{{user.numberOfFollowers}} Followers</button>
            <button [ngClass]="{'active': selectedTab === 'following'}"
              [ngStyle]="{'background-color': selectedTab === 'following' ? user.color : ''}"
              (click)="selectedTab = 'following'" class="array-btn">{{user.numberOfFollowees}} Following</button>
            <button *ngIf="isMyProfile" [ngClass]="{'active': selectedTab === 'saved'}"
              [ngStyle]="{'background-color': selectedTab === 'saved' ? user.color : ''}"
              (click)="selectedTab = 'saved'" class="array-btn">Saved Ideas</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin-right: 10px;">
        </ion-col>
      </ion-row>

      <div *ngIf="selectedTab === 'followers'">
        <app-followers [type]="selectedTab" [userId]="user.id" [color]="user.color"></app-followers>
      </div>

      <div *ngIf="selectedTab === 'following'">
        <app-followers [type]="selectedTab" [userId]="user.id" [color]="user.color"></app-followers>
      </div>

      <div *ngIf="selectedTab === 'saved'">
        <app-posts header="Saved Ideas" [savedByUsername]="true" [color]="user.color"></app-posts>
      </div>

      <div *ngIf="selectedTab === 'ideas'">
        <app-posts header="Ideas" [filterByUsername]="user.username" [color]="user.color"></app-posts>
      </div>

      <div *ngIf="selectedTab === 'projects'">
        <app-component-projects header="Projects" [filterByUsername]="user.username" [color]="user.color">
        </app-component-projects>
      </div>
    </div>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
