ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  display: inline;
  padding-right: 10px;
}

.socialmedia-icon:hover{
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 100px;
  outline: none;
  padding: 8px 10px;
  background-color: #f1f1f1;
  color: #414141c2;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #0cc87d6c;
  color: var(--ion-color-primary);
}
