<ion-content>
  <ion-grid *ngIf="user" class="container" style="margin-top: 30px;">
    <div *ngIf="!user.email; else userExists">
      <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
        <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10" size-sm="10"
          size-md="6" size-lg="4" size-xl="4">
          <img src="./../../../assets/noprofile.svg" style="width: 100%; padding-bottom: 10px;" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h2>This user does not exist.</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" style="margin-bottom: 200px;">
          <a type="button" class="btn-small btn-primary" routerLink="/">Go Home</a>
        </ion-col>
      </ion-row>
    </div>

    <ng-template #userExists>
      <ion-row>
        <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center">
          <ion-avatar class="profile-image" [ngStyle]="{'border-color': user.color}">
            <img [src]="user.profileimage">
          </ion-avatar>
          <h1 style="margin-bottom: 0; text-align: center;" *ngIf="user.firstname && user.lastname">{{user.firstname}}
            {{user.lastname}}</h1>

          <h2 style="margin-top: 0;" *ngIf="user.username">@{{user.username}}</h2>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="latestUser" style="display: flex; justify-content: center;">
        <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
          <div *ngIf="isMyProfile; else isNotMyProfile">
            <ion-grid style="padding: 0; padding-top: 10px;">
              <ion-row>
                <ion-col style="padding-left: 0;">
                  <a routerLink="/settings">
                    <button type="button" class="btn-small btn-medium" style="width: 100%;">
                      Edit Profile</button>
                  </a>


                </ion-col>
                <ion-col style="padding-right: 10px;">
                  <button type="button" class="btn-small btn-primary" style="width: 100%;"
                    (click)="logout()">Logout</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ng-template #isNotMyProfile>
            <ion-grid style="padding: 0; padding-top: 10px;">
              <ion-row>
                <ion-col *ngIf="amFollowingThisProfile; else notFollowing">
                  <button type="button" class="btn-small btn-medium" style="width: 100%;"
                    (click)="unfollow()">Unfollow</button>
                </ion-col>
                <ng-template #notFollowing>
                  <ion-col>
                    <button type="button" class="btn-small" [ngStyle]="{'background-color':user.color}"
                      style="width: 100%;" (click)="follow()">Follow</button>
                  </ion-col>
                </ng-template>
              </ion-row>
            </ion-grid>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 50px;">
        <ion-col size="auto" style="padding: 0;">
          <div id="myBtnContainer">
            <button [ngClass]="{'active': selectedTab === 'about'}"
              [ngStyle]="{'background-color': selectedTab === 'about' ? user.color : ''}"
              (click)="selectedTab = 'about'" class="array-btn">About</button>
            <button [ngClass]="{'active': selectedTab === 'followers'}"
              [ngStyle]="{'background-color': selectedTab === 'followers' ? user.color : ''}"
              (click)="selectedTab = 'followers'" class="array-btn">{{user.numberOfFollowers}} Followers</button>
            <button [ngClass]="{'active': selectedTab === 'following'}"
              [ngStyle]="{'background-color': selectedTab === 'following' ? user.color : ''}"
              (click)="selectedTab = 'following'" class="array-btn">{{user.numberOfFollowees}} Following</button>
            <button *ngIf="isMyProfile" [ngClass]="{'active': selectedTab === 'saved'}"
              [ngStyle]="{'background-color': selectedTab === 'saved' ? user.color : ''}"
              (click)="selectedTab = 'saved'" class="array-btn">Saved Posts</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <hr style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin-right: 10px;">
        </ion-col>
      </ion-row>

      <div *ngIf="selectedTab === 'followers'; else following">
        <app-followers [type]="selectedTab" textIfNoFollowers="No followers"></app-followers>
      </div>

      <ng-template #following>
        <ng-container *ngIf="selectedTab === 'following'; else saved">
          <app-followers [type]="selectedTab" textIfNoFollowers="Following nobody"></app-followers>
        </ng-container>
      </ng-template>

      <ng-template #saved>
        <ng-container *ngIf="selectedTab === 'saved'; else about">
          <app-posts header="Saved Posts" [savedByUsername]="true"></app-posts>
        </ng-container>
      </ng-template>

      <ng-template #about>
        <app-about></app-about>

        <ion-row class="wrapper">
          <ion-col style="padding-left: 5px;">
            <button type="button" class="btn-small" style="width: 100%;" (click)="activeContentTab = 'ideas'"
              [ngClass]="activeContentTab === 'ideas' ? 'btn-primary' : 'btn-dark'"
              [ngStyle]="{'background-color': activeContentTab === 'ideas' && user.color ? user.color : ''}">
              {{numberOfIdeas}} Ideas
            </button>

          </ion-col>
          <ion-col style="padding-right: 5px;">
            <button type="button" class="btn-small" style="width: 100%;" (click)="activeContentTab = 'projects'"
              [ngClass]="activeContentTab === 'projects' ? 'btn-primary' : 'btn-dark'"
              [ngStyle]="{'background-color': activeContentTab === 'projects' && user.color ? user.color : ''}">
              {{numberOfProjects}} Projects
            </button>
          </ion-col>
        </ion-row>

        <div *ngIf="activeContentTab === 'ideas'"
          style="display: flex; flex-direction: column; align-items: center; width: 100%;">
          <a *ngIf="isMyProfile && !managerService.showSidebar" class="btn-small" style="margin-bottom: 20px" routerLink="/ideaeditor/new"
            [ngClass]="activeContentTab === 'ideas' ? 'btn-primary' : 'btn-dark'">
            New idea</a>
          <app-posts style="width: 100%;" [header]="isMyProfile ? 'My ideas' : postsHeader"
            [filterByUsername]="user.username" [color]="user.color">
          </app-posts>
        </div>

        <div *ngIf="activeContentTab === 'projects'"
          style="display: flex; flex-direction: column; align-items: center; width: 100%;">
          <a *ngIf="isMyProfile && !managerService.showSidebar" class="btn-small" style="margin-bottom: 20px" routerLink="/projecteditor/new"
            [ngClass]="activeContentTab === 'projects' ? 'btn-primary' : 'btn-dark'">
            New Project</a>
          <app-component-projects style="width: 100%;" [header]="isMyProfile ? 'My projects' : projectsHeader"
            [filterByUsername]="user.username">
          </app-component-projects>
        </div>
      </ng-template>
    </ng-template>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
