<ion-content>
  <ion-grid class="container" style="margin-top: 10px;">
    <ion-row style="margin-bottom: 10px;">
      <ion-col>
        <h2 style="margin: 0; text-align: center;">Results for "{{searchTerm}}"</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="align-items: center; display: flex; flex-direction: column;flex-grow: 1; ">
        <div id="myBtnContainer" style="white-space: nowrap;">
          <button [ngClass]="{'active': tab === 'posts'}" (click)="tab = 'posts'"
            class="array-btn">Posts</button>
          <button [ngClass]="{'active': tab === 'users'}" (click)="tab = 'users'"
            class="array-btn">Users</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px; margin-bottom: 20px;">
      <ion-col>
        <hr style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin: 0;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="tab === 'posts'">
        <app-posts header="Posts" [searchTerm]="searchTerm"></app-posts>
      </ion-col>
      <ion-col *ngIf="tab === 'users'">
        <app-users [header]="postsHeader" [searchTerm]="searchTerm"></app-users>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
