<div *ngIf="allLoadedProjects.length > 0 || loading; else noProjects">
  <ion-row>
    <ion-col size="auto">
      <h2 style="margin: 0;">{{header ? header : alternativeHeader}}</h2>
    </ion-col>
    <ion-col *ngIf="showSortingButtons" style="align-items: end; display: flex; flex-direction: column;flex-grow: 1;">
      <div id="myBtnContainer" style="white-space: nowrap;">
        <button [ngClass]="{'active': sortingCriteria === 'newest'}"
          [ngStyle]="{'background-color': sortingCriteria === 'newest' ? color : ''}"
          (click)="sortingCriteriaChanged('newest')" class="array-btn">Newest</button>
        <button [ngClass]="{'active': sortingCriteria === 'oldest'}"
          [ngStyle]="{'background-color': sortingCriteria === 'oldest' ? color : ''}"
          (click)="sortingCriteriaChanged('oldest')" class="array-btn">Oldest</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <a [routerLink]="'/projects/' + project.id" *ngFor="let project of allLoadedProjects">
          <ion-grid class="project-wrapper">
          <ion-row *ngIf="project.releaseDate">
            <ion-col>
              <p style="margin: 0;">{{project.releaseDate.toLocaleDateString("en-at",{year:"numeric",month:"short",
                day:"numeric"})}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="project.logo" size="auto"
              style="display: flex; flex-direction: column; justify-content: center;">
              <ion-avatar style="height: 90px; width: 90px; --border-radius: 50%">
                <img [src]="project.logo">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <h1>{{project.title}}</h1>
              <p>{{project.shortDescription}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        </a>

      </ion-list>

      <ion-infinite-scroll *ngIf="allLoadedProjects.length" threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-col>
  </ion-row>
</div>
<ng-template #noProjects>
  <ion-grid class="noprojects-grid">
    <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="6" size-sm="6"
        size-md="5" size-lg="4" size-xl="4">
        <img ngSrc="./../../../assets/svgs/open-vault.svg" style="width: 100%; padding-bottom: 10px;" alt="" height="150" width="300">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>No projects yet...</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
