<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="ideas">
        <ion-icon name="flame-outline"></ion-icon>
        <ion-label>Ideas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="projects">
        <ion-icon name="hardware-chip-outline"></ion-icon>
        <ion-label>Projects</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="user" [tab]="'users/' + user.username">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="!user" tab="register">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
