@media (min-width: 992px) {
  ion-tab-bar {
    display: none;
  }
}

ion-tab-button.tab-selected * {
  color: var(--ion-color-primary);
}

ion-badge {
  color: var(--ion-color-dark) !important;
}



@media (max-width: 768px) {
  ion-label {
    font-size: 0.6rem;
  }
}
