<app-header></app-header>

<ion-content>
  <ion-grid  *ngIf="project" class="container wrapper" style="margin-top: 30px;">
    <ion-row>
      <ion-col size="auto" style="display: flex; flex-direction: column; justify-content: center;">
        <ion-avatar style="height: 90px; width: 90px; --border-radius: 50%">
          <img [src]="project.logo">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <h1>{{project.title}}</h1>
        <p>{{project.shortDescription}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
