<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row style="margin-top: 100px;">
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <img class="ideaoverflow-log" src="./../../../assets/icon/logo.svg" height="50px" alt="">
        <h1 style="margin: 0; padding-left: 10px;">Idea Overflow</h1>
      </ion-col>
    </ion-row>

    <ion-row class="quote" style="margin-top: 100px;">
      <ion-col style="display: flex; flex-direction: column; align-items: center;">
        <h2>You might not think that programmers are artists, but programming is an extremely creative profession. It's
          logic-based creativity.</h2>
        <h3>- John Romero</h3>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 100px;">
      <ion-col>
        <h1>The story so far</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nulla provident sequi quaerat dicta iusto
          placeat mollitia accusamus ducimus quasi, libero blanditiis expedita voluptate sunt nemo natus laudantium?
          Quaerat, consequatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nulla provident sequi quaerat dicta iusto
          placeat mollitia accusamus ducimus quasi, libero blanditiis expedita voluptate sunt nemo natus laudantium?
          Quaerat, consequatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nulla provident sequi quaerat dicta iusto
          placeat mollitia accusamus ducimus quasi, libero blanditiis expedita voluptate sunt nemo natus laudantium?
          Quaerat, consequatur?</p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-footer></app-footer>
</ion-content>
