<ion-content>
  <ion-grid class="container">
    <ion-row style="margin-top: 100px;">
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <img class="ideaoverflow-log" src="./../../../assets/logo/logo.svg" height="50px" alt="">
        <h1 style="margin: 0; padding-left: 10px;">Idea Overflow</h1>
      </ion-col>
    </ion-row>

    <ion-row class="quote" style="margin-top: 100px;">
      <ion-col style="display: flex; flex-direction: column; align-items: center;">
        <h2>You might not think that programmers are artists, but programming is an extremely creative profession. It's
          logic-based creativity.</h2>
        <h3>- John Romero</h3>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 100px;">
      <ion-col>
        <h1>The story so far</h1>
        <p>The idea came up in autumn 2020. A hackathon was coming up and after much deliberation we still had
          absolutely no idea what our project should look like. And then in the evening, after a long day of
          brainstorming, it occurred to us that we have a problem for which there is no good solution yet. Why not
          develop a platform where everyone can post ideas to inspire uncreative minds like us? In the end, the
          hackathon was canceled due to covid19 and we had no opportunity to implement the project...</p>
        <p>At christmas holidays 2021, over a year later, I decided to implement the project. Without making big plans
          about what it should look like and what it should be able to do, I just started programming. And 27
          days after the initial line of code, the first version of idea overflow was already online. Of course it was
          buggy and incomplete, but it existed...</p>
        <h2>— Daniel Hiebeler</h2>
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-footer></app-footer>
</ion-content>
