<ion-content>
  <div style="display: flex; min-height: 100%;" class="ion-padding ion-align-items-center ion-justify-content-center">
    <ion-grid class="ion-padding register-grid container">
      <ion-row style="justify-content: space-evenly; flex-wrap: wrap-reverse;">

        <ion-col size-xs="7" size-sm="5" size-md="4" size-lg="4" size-xl="4">
          <img src="./../../../assets/character_7.svg" style="width: 100%; padding-bottom: 20px;" alt="">
          <p class="ion-text-center txt-gotologin"><strong (click)="gotoRegister()">Create an account</strong></p>
        </ion-col>

        <ion-col size-xs="10" size-sm="8" size-md="5" size-lg="4" size-xl="4">

          <h1 class="register-header"><strong>Login</strong></h1>

          <div class="form-group">
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email"/>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()"/>
          </div>

          <div class="row d-flex justify-content-center submit-button-container">
            <button type="button" class="btn-large btn-primary" style="margin-top: 10px;" (click)="login()">Log in</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
