<ion-content>
  <div style="margin-top: 150px;" class="ion-padding ion-align-items-center ion-justify-content-center">
    <ion-grid class="ion-padding register-grid container">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6"
          style="padding-left: 75px; padding-right: 50px;">
          <img ngSrc="./../../../assets/character_13.svg"
            style="width: 100%; padding-bottom: 10px;" alt=""  height="300" width="300">
        </ion-col>

        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6"
          style="padding-left: 50px; padding-right: 75px;">
          <h1 class="register-header">Verify</h1>

          <div *ngIf="isVerified; else elseBlock">
            <p>Your account has been activated.</p>
            <a class="btn-large btn-primary" style="margin-top: 10px;" routerLink="/login">
              Login
            </a>
          </div>
          <ng-template #elseBlock>
            <p>This URL is not valid.</p>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
