<ion-content *ngIf="idea">
    <ion-grid class="post-wrapper container">
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col style="padding: 0;">
                <h1 style="margin: 0;">{{idea.title}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0;">
                <div class="postcontent" [innerHTML]=idea.body></div>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 20px;">
              <ion-col size="auto" class="owner">
                <a [routerLink]="'/users/' + idea.ownerUsername">
                  <ion-avatar style="height: 30px; width: 30px; --border-radius: 50%">
                    <img [src]="idea.ownerImage">
                  </ion-avatar>
                  <p style="margin-bottom: 0; padding-left: 8px;">{{idea.ownerUsername}}</p>
                </a>

              </ion-col>

              <ion-col size="auto" *ngIf="idea.currentUserVoteValue === 1" (click)="votePost(0, idea)" class="like"
                style="display: flex; align-items: center;">
                <ion-icon name="heart" [ngStyle]="{'color':idea.ownerColor}" style="width: 30px; height: 25px;">
                </ion-icon>
                <p style="margin-bottom: 0; padding-left: 8px;">{{idea.numberOfUpvotes}}</p>
              </ion-col>

              <ion-col size="auto" *ngIf="idea.currentUserVoteValue !== 1" (click)="votePost(1, idea)" class="like"
                style="display: flex; align-items: center;">
                <ion-icon name="heart-outline" style="width: 30px; height: 25px;"></ion-icon>
                <p style="margin-bottom: 0; padding-left: 8px;">{{idea.numberOfUpvotes}}</p>
              </ion-col>

              <ion-col size="auto" *ngIf="idea.currentUserVoteValue === -1" (click)="votePost(0, idea)" class="like"
                style="display: flex; align-items: center;">
                <ion-icon name="thumbs-down" [ngStyle]="{'color':idea.ownerColor}"
                  style="width: 30px; height: 25px;"></ion-icon>
                <p style="margin-bottom: 0; padding-left: 8px;">{{idea.numberOfDownvotes}}</p>
              </ion-col>

              <ion-col size="auto" *ngIf="idea.currentUserVoteValue !== -1" (click)="votePost(-1, idea)"
                class="like" style="display: flex; align-items: center;">
                <ion-icon name="thumbs-down-outline" style="width: 30px; height: 25px;"></ion-icon>
                <p style="margin-bottom: 0; padding-left: 8px;">{{idea.numberOfDownvotes}}</p>
              </ion-col>

              <ion-col size="auto" *ngIf="idea.saved" (click)="unsavePost(idea.id)" class="like"
                style="display: flex; align-items: center;">
                <ion-icon name="bookmark" [ngStyle]="{'color':idea.ownerColor}" style="width: 30px; height: 25px;">
                </ion-icon>
              </ion-col>

              <ion-col size="auto" *ngIf="!idea.saved" (click)="savePost(idea.id)" class="like"
                style="display: flex; align-items: center;">
                <ion-icon name="bookmark-outline" style="width: 30px; height: 25px;"></ion-icon>
              </ion-col>

              <div *ngIf="currentUser">
                <ion-col *ngIf="currentUser.id === idea.ownerId" size="auto" class="editPost"
                  style="display: flex; align-items: center;">
                  <a [routerLink]="'ideaeditor/' + idea.id">
                    <ion-icon name="settings-outline" style="height: 30px; width: 30px;">
                    </ion-icon>
                  </a>

                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
