<ion-header class="ion-no-border">
  <ion-grid class="container">
    <ion-row>
      <ion-col size="auto">
        <button type="button" class="btn-small btn-medium" (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2 *ngIf="idea">{{idea.title}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content *ngIf="idea">
  <ion-grid class="container">
    <ion-row class="idea-wrapper">
      <ion-col>
        <app-idea-component [post]="idea" [loggedIn]="currentUser !== null"></app-idea-component>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-comments [idea]="idea"></app-comments>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
