<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="contribute-grid">
          <ion-row *ngIf="user; else notloggedin">
            <ion-col style="display: flex; flex-direction: column; justify-content: center;">
              <div>
                <h4><strong *ngIf="user.firstname">Hello, {{user.firstname}}!</strong><strong *ngIf="!user.firstname">Hey!</strong></h4>
                <p>If you have a great idea please share it with your community!</p>
                <button type="button" class="btn-large btn-dark" style="margin-top: 10px; margin-bottom: 10px;"
                  (click)="gotoNewpost()">Create post</button>
              </div>
            </ion-col>
            <ion-col style="display: flex; justify-content: center; padding: 20px;" size="5">
              <img src="./../../../assets/svgs/people.svg" alt="">
            </ion-col>
          </ion-row>
          <ng-template #notloggedin>
            <ion-row>
              <ion-col style="display: flex; flex-direction: column; justify-content: center;">
                <div>
                  <h4><strong>New to Idea Overflow?</strong></h4>
                <p>Sign up now to post your own ideas!</p>
                <button type="button" class="btn-large btn-dark" style="margin-top: 10px; margin-bottom: 10px;"
                  (click)="gotoRegister()">Register</button>
                </div>
              </ion-col>
              <ion-col style="display: flex; justify-content: center; padding: 20px;" size="5">
                <img src="./../../../assets/svgs/people.svg" alt="">
              </ion-col>
            </ion-row>
          </ng-template>

        </ion-grid>
      </ion-col>
    </ion-row>
    <app-posts [header]="postsHeader"></app-posts>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
