<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <h2>Best Ideas</h2>
      </ion-col>
      <ion-col size="auto">
        <button type="button" class="btn-medium btn-orange" style="margin-top: 10px; margin-bottom: 10px;"
          (click)="gotoNewpost()">I have a great Idea</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-posts></app-posts>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
