<div *ngIf="allLoadedPosts.length > 0 || loading; else noIdeas">
  <ion-row>
    <ion-col size="auto">
      <h2 style="margin: 0;">{{header ? header : alternativeHeader}}</h2>
    </ion-col>
    <ion-col *ngIf="showSortingButtons" style="align-items: end; display: flex; flex-direction: column;flex-grow: 1;">
      <div id="myBtnContainer" style="white-space: nowrap;">
        <button [ngClass]="{'active': sortingCriteria === 'newest'}"
          [ngStyle]="{'background-color': sortingCriteria === 'newest' ? color : ''}"
          (click)="sortingCriteriaChanged('newest')" class="array-btn">Newest</button>
        <button [ngClass]="{'active': sortingCriteria === 'likes'}"
          [ngStyle]="{'background-color': sortingCriteria === 'likes' ? color : ''}"
          (click)="sortingCriteriaChanged('likes')" class="array-btn">Most liked</button>
        <button [ngClass]="{'active': sortingCriteria === 'oldest'}"
          [ngStyle]="{'background-color': sortingCriteria === 'oldest' ? color : ''}"
          (click)="sortingCriteriaChanged('oldest')" class="array-btn">Oldest</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <div style="margin-top: 30px;" *ngFor="let post of allLoadedPosts">
          <app-idea [post]="post" [loggedIn]="currentUser !== null"
            [isOwnPost]="currentUser?.id === post.user.id"></app-idea>
        </div>
      </ion-list>

      <ion-infinite-scroll *ngIf="allLoadedPosts.length" threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-col>
  </ion-row>
</div>
<ng-template #noIdeas>
  <ion-grid class="noideas-grid">
    <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="6" size-sm="6"
        size-md="5" size-lg="4" size-xl="4">
        <img ngSrc="./../../../assets/svgs/open-vault.svg" style="width: 100%; padding-bottom: 10px;" alt=""
          height="150" width="300">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>No ideas yet...</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
