<ion-content>
  <ion-grid class="container" style="margin-top: 30px;">
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
            <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10"
              size-sm="10" size-md="6" size-lg="5" size-xl="5">
              <img src="./../../../assets/404.svg" style="width: 100%;" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="margin-top: 20px;" class="ion-text-center">
              <h2><strong>This page does not exist.</strong></h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <a class="btn-small btn-primary" routerLink="/">Go Home</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
