<ion-content>
  <div style="display: flex; min-height: 100%;" class="ion-padding ion-align-items-center ion-justify-content-center">
    <ion-grid class="ion-padding register-grid container">
      <ion-row style="justify-content: space-evenly; flex-wrap: wrap-reverse;">

        <ion-col size-xs="7" size-sm="5" size-md="4" size-lg="4" size-xl="4">
          <img src="./../../../assets/3d/error.png" style="width: 100%; padding-bottom: 20px;" alt="">
          <p class="ion-text-center txt-gotologin"><a routerLink="/login">Back to login</a></p>
        </ion-col>

        <ion-col size-xs="10" size-sm="8" size-md="5" size-lg="4" size-xl="4">
          <h1 class="register-header">Reset password</h1>
          <input style="margin-bottom: 25px;" type="email" name="email" placeholder="Email" [(ngModel)]="email" />

          <div class="row d-flex justify-content-center submit-button-container">
            <button type="button" class="btn-large btn-primary" style="margin-top: 10px;" (click)="sendLink()">Send reset link</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
