<div *ngIf="allLoadedPosts.length > 0; else noPosts">
  <ion-row>
    <ion-col size="auto">
      <h2 style="margin: 0;">{{header}}</h2>
    </ion-col>
    <ion-col *ngIf="showSortingButtons" style="align-items: end; display: flex; flex-direction: column;flex-grow: 1;">
      <div id="myBtnContainer" style="white-space: nowrap;">
        <button [ngClass]="{'active': sortingCriteria === 'newest'}" (click)="sortingCriteriaChanged('newest')"
          class="array-btn">Newest</button>
        <button [ngClass]="{'active': sortingCriteria === 'likes'}" (click)="sortingCriteriaChanged('likes')"
          class="array-btn">Most liked</button>
        <button [ngClass]="{'active': sortingCriteria === 'oldest'}" (click)="sortingCriteriaChanged('oldest')"
          class="array-btn">Oldest</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-grid style="padding: 0;" class="post-wrapper" *ngFor="let post of allLoadedPosts">
          <ion-row style="padding: 0;">
            <ion-col style="padding: 0;">
              <ion-grid style="padding: 0;">
                <ion-row>
                  <ion-col style="padding: 0;">
                    <h1 style="margin: 0;">{{post.title}}</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col style="padding: 0;">
                    <div [innerHTML]=post.body></div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: 20px;">
                  <ion-col size="auto" class="owner" style="display: flex; align-items: center;"
                    (click)="gotoProfile(post.ownerUsername)">
                    <ion-avatar style="height: 30px; width: 30px; --border-radius: 50%">
                      <img [src]="post.ownerImage">
                    </ion-avatar>
                    <p style="margin-bottom: 0; padding-left: 8px;"><strong>{{post.ownerUsername}}</strong></p>
                  </ion-col>

                  <ion-col size="auto" class="like" style="display: flex; align-items: center;">
                    <ion-icon *ngIf="post.currentUserVoteValue === 1" name="heart" color="primary"
                      style="width: 30px; height: 25px;" (click)="votePost(0, post.id)"></ion-icon>
                    <ion-icon *ngIf="post.currentUserVoteValue !== 1" name="heart-outline"
                      style="width: 30px; height: 25px;" (click)="votePost(1, post.id)"></ion-icon>
                    <p style="margin-bottom: 0; padding-left: 8px;"><strong>{{post.numberOfUpvotes}}</strong></p>
                  </ion-col>

                  <ion-col size="auto" class="like" style="display: flex; align-items: center;">
                    <ion-icon *ngIf="post.currentUserVoteValue === -1" name="heart-dislike"
                      style="width: 30px; height: 25px;" (click)="votePost(0, post.id)"></ion-icon>
                    <ion-icon *ngIf="post.currentUserVoteValue !== -1" name="heart-dislike-outline"
                      style="width: 30px; height: 25px;" (click)="votePost(-1, post.id)"></ion-icon>
                    <p style="margin-bottom: 0; padding-left: 8px;"><strong>{{post.numberOfDownvotes}}</strong></p>
                  </ion-col>

                  <ion-col size="auto" class="like" style="display: flex; align-items: center;">
                    <ion-icon *ngIf="post.saved" name="bookmark" color="primary" style="width: 30px; height: 25px;"
                      (click)="unsavePost(post.id)"></ion-icon>
                    <ion-icon *ngIf="!post.saved" name="bookmark-outline" style="width: 30px; height: 25px;"
                      (click)="savePost(post.id)"></ion-icon>
                  </ion-col>

                  <div *ngIf="currentUser">
                    <ion-col *ngIf="currentUser.id === post.ownerId" size="auto" class="like"
                      style="display: flex; align-items: center;" (click)="editPost(post)">
                      <ion-icon name="settings-outline" style="height: 30px; width: 30px;">
                      </ion-icon>
                    </ion-col>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <hr style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin: 0;">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-col>
  </ion-row>
</div>
<ng-template #noPosts>
  <ion-grid>
    <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10" size-sm="10"
        size-md="6" size-lg="5" size-xl="5">
        <img src="./../../../assets/3d/nothing2.png" style="width: 100%; padding-bottom: 10px;" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2><strong>No posts yet...</strong></h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
