ion-avatar:hover {
  cursor: pointer;
}

.post-wrapper {
  margin-top: 30px;
  // border-radius: 10px;
  // background-color: var(--ion-color-light);
}

.btn {
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px 10px;
  background-color: #fff;
  color: #414141c2;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: #cfcfcf6c;
}

.btn.active {
  background-color: #cfcfcf6c;
  color: var(--ion-color-secondary);
  font-family: "poppins-bold", sans-serif !important;
}

.owner{
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 10px;
}

.owner:hover {
  cursor: pointer;
}
