<div *ngIf="allLoadedPosts.length > 0; else noPosts">
  <ion-row>
    <ion-col size="auto">
      <h2 style="margin: 0;">{{header}}</h2>
    </ion-col>
    <ion-col *ngIf="showSortingButtons" style="align-items: end; display: flex; flex-direction: column;flex-grow: 1; ">
      <div id="myBtnContainer" style="white-space: nowrap;">
        <button [ngClass]="{'active': sortingCriteria === 'newest'}" (click)="sortingCriteria = 'newest'"
          class="array-btn">Newest</button>
        <button [ngClass]="{'active': sortingCriteria === 'mostliked'}" (click)="sortingCriteria = 'mostliked'"
          class="array-btn">Most liked</button>
        <button [ngClass]="{'active': sortingCriteria === 'oldest'}" (click)="sortingCriteria = 'oldest'"
          class="array-btn">Oldest</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-grid style="padding: 0;" class="post-wrapper" *ngFor="let post of allLoadedPosts">
          <ion-row style="padding: 0;">
            <ion-col size="auto" style="margin-right: 20px;">
              <div style="width: 7px; height: 100%; border-radius: 100px; background-color: var(--ion-color-primary);">
              </div>
            </ion-col>
            <ion-col style="padding: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h1 style="margin: 0;">{{post.title}}</h1>
                  </ion-col>
                  <div *ngIf="currentUser">
                    <ion-col *ngIf="currentUser.id === post.ownerId" size="auto" style="display: flex;">
                      <ion-icon (click)="editPost(post)" class="edit-button" name="settings-outline" style="height: 30px; width: 30px;"></ion-icon>
                    </ion-col>
                  </div>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div [innerHTML]=post.body></div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: 20px;">
                  <ion-col size="auto" class="owner" style="display: flex; align-items: center;"
                    (click)="gotoProfile(post.ownerUsername)">
                    <ion-avatar style="height: 30px; width: 30px; --border-radius: 50%">
                      <img [src]="post.ownerImage">
                    </ion-avatar>
                    <p style="margin-bottom: 0; padding-left: 8px;"><strong>{{post.ownerUsername}}</strong></p>
                  </ion-col>
                  <ion-col size="auto"
                    style="padding-left: 20px; display: flex; flex-direction: column; align-items: center;">
                    <ion-icon *ngIf="post.currentUserVoteValue === 1; else notUpvoted" name="thumbs-up" (click)="votePost(0, post.id)"></ion-icon>
                    <ng-template #notUpvoted>
                      <ion-icon name="thumbs-up-outline" (click)="votePost(1, post.id)"></ion-icon>
                    </ng-template>
                    <p style="margin: 0;">{{post.numberOfUpvotes}}</p>
                  </ion-col>
                  <ion-col size="auto"
                    style="padding-left: 20px; display: flex; flex-direction: column; align-items: center;">
                    <ion-icon *ngIf="post.currentUserVoteValue === -1; else notDownvoted" name="thumbs-down" (click)="votePost(0, post.id)"></ion-icon>
                    <ng-template #notDownvoted>
                      <ion-icon name="thumbs-down-outline" (click)="votePost(-1, post.id)"></ion-icon>
                    </ng-template>
                    <p style="margin: 0;">{{post.numberOfDownvotes}}</p>
                  </ion-col>

                  <ion-col size="auto"
                    style="padding-left: 20px; display: flex; flex-direction: column; align-items: center;">
                    <ion-icon *ngIf="post.saved; else notsaved" name="bookmark" (click)="unsavePost(post.id)">
                    </ion-icon>
                    <ng-template #notsaved>
                      <ion-icon name="bookmark-outline" (click)="savePost(post.id)"></ion-icon>
                    </ng-template>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="auto">
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 30px;">
            <ion-col>
              <hr style="height:1px; border-width:0; background-color:rgb(180, 180, 180); margin: 0;">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-col>
  </ion-row>
</div>
<ng-template #noPosts>
  <ion-grid>
    <ion-row style="display: flex; flex-direction: column;" class="ion-align-items-center">
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center" size-xs="10" size-sm="10"
        size-md="6" size-lg="5" size-xl="5">
        <img src="./../../../assets/noposts.svg" style="width: 100%; padding-bottom: 10px;" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2><strong>No posts yet...</strong></h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
