<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <div class="form-group">
          <label class="text-label" for="fname"><strong>Header</strong></label>
          <input type="text" placeholder="The best Idea ever" [(ngModel)]="header" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <quill-editor [(ngModel)]="textBind" [modules]="" (onEditorCreated)="editor($event)" trackChanges="all"></quill-editor>
        {{textBind}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; flex-direction: column;" class="ion-align-items-center">
        <button type="button" class="btn-medium btn-orange" (click)="savePost()"
          *ngIf="header && body; else elseBlock">Release your post</button>

        <ng-template #elseBlock>
          <button type="button" class="btn-medium btn-disabled" disabled>Release your post</button>
        </ng-template>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>
