/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body{
  -webkit-user-select: none;
}

@font-face {
  font-family: "poppins-regular";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

*:not(h1){
  font-family: "poppins-regular", sans-serif;
}

h1{
  font-family: "poppins-bold", sans-serif !important;
}

button:focus,img:focus{
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: black;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn-medium {
  color: white;
  padding: 13px 10px 13px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.btn-large {
  color: white;
  padding: 18px 28px 18px 28px;
  border-radius: 5px;
  font-size: 0.9em;
}

.btn-orange{
  background-color: #f58332;
}

.btn-orange:hover{
  background-color: #e2701e;
}

.btn-dark{
  background-color: #414141;
}

.btn-dark:hover{
  background-color: #313131;
}

.btn-disabled{
  background-color: #d1d1d1;
}

.ideaoverflow-logo:hover{
  cursor: pointer;
}
