/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html,
body {
  // -webkit-user-select: none;
}

::selection {
  color: var(--ion-color-light);
  background: var(--ion-color-primary);
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

@font-face {
  font-family: "poppins-regular";
  src: url("/assets/fonts/Segoe.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/assets/fonts/Segoe-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

* {
  font-family: "poppins-regular", sans-serif;
}

ion-header {
  border-bottom: 1px solid var(--ion-color-medium);;
}

* {
  color: var(--ion-color-light);
}

p {
  margin-top: 0;
}

h1 {
  font-family: "poppins-bold", sans-serif !important;
  font-weight: 1000 !important;
  font-size: 2.6rem;
}

h2 {
  font-family: "poppins-bold", sans-serif !important;
  font-weight: 1000 !important;
}

button:focus,
img:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--ion-color-medium) inset;
  -webkit-text-fill-color: var(--ion-color-light);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn-small {
  color: var(--ion-color-light);
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-small);
  font-size: 0.8em;
  line-height: normal;
}

.btn-large {
  color: var(--ion-color-light);
  padding: 15px 20px 15px 20px;
  border-radius: var(--border-radius-small);
  font-size: 0.9em;
  line-height: normal;
}

.btn-primary {
  background-color: var(--ion-color-primary);
}

.btn-primary:hover {
  background-color: var(--ion-color-primary-shade);
}

.btn-medium {
  background-color: var(--ion-color-medium);
}

.btn-medium:hover {
  background-color: var(--ion-color-medium-shade);
}

.btn-dark {
  background-color: var(--ion-color-dark);
}

.btn-dark:hover {
  background-color: var(--ion-color-dark-shade);
}

.btn-disabled {
  background-color: var(--ion-color-medium)
}

.array-btn {
  border: none;
  border-radius: var(--border-radius-small);
  outline: none;
  padding: 10px 10px;
  background-color: var(--ion-color-medium);
  cursor: pointer;
  margin: 5px;
}

.array-btn:hover {
  background-color: var(--ion-color-medium-shade);
}

.array-btn.active {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  font-family: "poppins-bold", sans-serif !important;
}

.array-btn.active:hover {
  background-color: var(--ion-color-primary-shade);
}

.ideaoverflow-logo:hover {
  cursor: pointer;
}

ion-alert {
  &.custom-alert-ok {
    .alert-wrapper {
      background-color: var(--ion-color-light);
      border-radius: var(--border-radius-big);
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .alert-head {
    }

    .alert-message {
      text-align: center;
    }

    .alert-button-group {
      justify-content: center;
    }

    .alert-button {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
      border-radius: var(--border-radius-small);
      text-transform: none;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &.custom-alert-two {
    .alert-wrapper {
      background-color: var(--ion-color-light);
      border-radius: var(--border-radius-big);
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .alert-message {
      text-align: center;
    }

    .alert-button {
      // background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
      border-radius: var(--border-radius-small);
      text-transform: none;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .alert-button:first-of-type {
    background-color: var(--ion-color-primary);
  }

  .alert-button:nth-of-type(2) {
    background-color: adjust-color($color: #99c1de);
  }
}

.follower-modal {
  .modal-wrapper {
    height: 30%;
    width: 90%;
    border-radius: var(--border-radius-big);
  }
}
