<ion-content>
  <div style="display: flex; min-height: 100%;" class="ion-padding ion-align-items-center ion-justify-content-center">
    <ion-grid class="ion-padding register-grid container">
      <ion-row style="justify-content: space-evenly; flex-wrap: wrap-reverse;">

        <ion-col size-xs="7" size-sm="5" size-md="4" size-lg="4" size-xl="4">
          <img src="./../../../assets/3d/error.png" style="width: 100%; padding-bottom: 20px;" alt="">
        </ion-col>

        <ion-col *ngIf="codeIsCorrect; else wrongcode" size-xs="10" size-sm="8" size-md="5" size-lg="4" size-xl="4">
          <h1 class="register-header">Set new password</h1>
          <input style="margin-bottom: 25px;" type="password" name="password" placeholder="Password"
            [(ngModel)]="password1" />

          <input style="margin-bottom: 25px;" type="password" name="password" placeholder="Password"
            [(ngModel)]="password2" (keyup.enter)="setPassword()" />

          <div class="row d-flex justify-content-center submit-button-container">
            <button type="button" class="btn-large btn-primary" style="margin-top: 10px;" (click)="setPassword()">Set
              password</button>
          </div>
        </ion-col>
        <ng-template #wrongcode>
          <ion-col size-xs="10" size-sm="8" size-md="5" size-lg="4" size-xl="4">
            <h1 class="register-header">Error</h1>
            <p>{{message}}</p>
            <div class="row d-flex justify-content-center submit-button-container">
              <a class="btn-large btn-primary" style="margin-top: 30px;" routerLink="/login">Go to login</a>
            </div>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
